@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 160px;
    background-color: black;
    height: 730px;
    align-items: center;
    /* align-items: flex-start; */
}


.logo-text {
  font-family: 'Poppins', serif;
  font-weight: bolder;
  font-size: 160px;
  background: linear-gradient(45deg, #63aaf2, #f757f4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 150px; /* Adjust this value as needed */
}

.slogan-text {
  font-weight: bolder;
  font-size: 60px;
  background: linear-gradient(45deg, #a9ccee, #885e88); /* Add gradient background */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 100px; /* Adjust this value as needed */
  font-family: 'Poppins', sans-serif; /* You can also specify the font-family here */
}

.quote {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-style: italic;
}

.features ul{
list-style-type: none;
font-size: 30px;
line-height: 50px;
color: #38B6FF;
font-family: 'Poppins', sans-serif;
}
