@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 160px;
    background-color: black;
    height: 730px;
    align-items: center;
    /* align-items: flex-start; */
}


/* .logo-text {
  font-family: 'Poppins', serif;
  font-weight: bolder;
  font-size: 130px;
  background: linear-gradient(45deg, #63aaf2, #f757f4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 150px;
  padding-bottom: 10px; /* Adjust this value as needed */
/* } */ 

.logo-text {
  font-family: 'Poppins', serif;
  font-weight: bolder;
  font-size: 130px;
  padding-top: 150px;
  padding-bottom: 10px;
  background: linear-gradient(45deg, #63aaf2, #f757f4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: moveGradient 10s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.slogan-text {
  font-weight: bolder;
  font-size: 60px;
  background: linear-gradient(45deg, #a9ccee, #885e88); /* Add gradient background */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 100px; /* Adjust this value as needed */
  font-family: 'Poppins', sans-serif; /* You can also specify the font-family here */
}

.quote {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  font-style: italic;
}

