.chat-app {
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: black;
    height: 100%;
}

.heading-text {
    font-family: 'Poppins', serif;
    font-weight: bolder;
    font-size: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(45deg, #63aaf2, #f757f4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: moveGradient 10s linear infinite;
    text-align: center;
}