@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Poppins:ital,wght@0,300;0,400;1,200;1,400&display=swap');

.resource-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.resource-text {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;
}

.rcard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-1 {
    padding-right: 20px;
}